html, body {
    height: 100%;
}

body {
    font-family: "Lucida Grande", "Segoe UI", Ubuntu, Cantarell, Arial, sans-serif;
    margin: 0;
    padding: 0;
}

#side-nav {
    background-color: #424242;
    padding-top: 18px;
    height: 100%;
    width: 150px;
    float: left;
}
#side-nav a {
    font-size: 1.8rem;
    color: #ccc;
    text-decoration: none;
}
#side-nav a:hover {
    color: #52affb;
}
#side-nav ul {
    list-style: none;
    padding: 20px;
    margin: 0px;
}
#side-nav li {
    padding-bottom: 8px;
}
#wrapper {
    height: 100%;
    min-width: 800px;
}
#main {
    float: left;
    margin-left: 20px;
    min-width: 500px;
}
